.marge {
    margin-left: 100px;
    margin-right: 100px;
}

.NavBarLink {
    display:flex;
    justify-content: left;
    align-items:center;
    gap: 40px;
}
.ul {
display:flex;
    justify-content: space-between;
    align-items:center
}
.navbar {
  display: flex;          
  align-items: center;     
  height: 60px;            
  padding: 0 20px;         
  background-color: #333;
}

.nav-links {
  display: flex;           
  list-style: none;
  margin: 0;
  padding: 0;
}

.logo img {
    width: 100px;
}

.image-container {
  position: relative; /* Définit le repère pour les enfants */
  width: 500px;       /* Ajuste selon tes besoins */
  height: 300px;
}

.fond {
  width: 100%;
  height: auto;
  display: block;
}

.dessus {
    position: absolute;
    top: 175px;
    left: 348px;
    width: 378px;
    z-index: 10;
}
.lienext{
   background-color:  rgba(136, 133, 133, 0.7);
}

.liente{
background-color: white;
}

.wrapper {
display: flex;
justify-content: center;
gap: 20px;
margin-left: 200px;
margin-right: 200px;
margin-top: 20px;
}

.wrapper img {
    width: 25%;
    background-color: lightgray;
}

.landd {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
}

.first {
    display: flex;
    flex-direction: column;;
}

.first img {
    width: 310px;
}

.landd h2 {
    width: 100%;
    margin: 20;
    padding: 10px;
}

.p {
     width: 100%;
    margin: 20;
    padding: 10px;   
}

.liendis {
    text-decoration: none;
    color: black;
}

/* .percy img {
    width: 200px;
} */

/* .li {
    text-decoration: none;
} */