body {
    width: 84%;
    margin: 0 auto;
}

.NavBarLink {
    display:flex;
    justify-content: left;
    align-items:center;
    gap: 40px;
}
.ul {
display:flex;
    justify-content: space-between;
    align-items:center
}
.navbar {
  display: flex;          
  align-items: center;     
  height: 60px;            
  padding: 0 20px;         
  background-color: white;
}

.nav-links {
  display: flex;           
  list-style: none;
  margin: 0;
  padding: 0;
}

.logo img {
    width: 100px;
}

.image-container {
  position: relative; /* Définit le repère pour les enfants */
  width: 500px;       /* Ajuste selon tes besoins */
  height: 300px;
}

.fond {
  width: 100%;
  height: auto;
  display: block;
}

.dessus {
    position: absolute;
    top: 175px;
    left: 348px;
    width: 378px;
    z-index: 10;
}
.lienext{
   background-color: whitesmoke
}

.liente{
background-color: white;
width: 83%;
padding: 30px;
margin-bottom: 35px;
}

.wrapper {
display: flex;
justify-content: center;
gap: 20px;
flex-wrap: wrap;
}

.wrapper img {
    width: 25%;
    background-color: lightgray;
}

.landd {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
    line-height: 1;
}

.landdCe {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
    line-height: 1;
    padding-bottom: 17px;
}

.descrQuatre {
    font-size: 0.875em;
    line-height: 1.3;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.descrDeux {
    font-size: 0.875em;
    line-height: 1.3;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 21px;
}

.descrTrois {
    font-size: 0.875em;
    line-height: 1.3;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 2px;
}

.cate {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.75em;
    font-weight: 700;
    line-height: 1.3;
    margin-top: 1.25rem;
    text-transform: uppercase;
}

.first {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.first img {
    width: 324px;
    margin-top: 20px;
}

.landd h2 {
    width: 100%;
    margin: 20;
    padding: 10px;
}

.p {
     width: 100%;
    margin: 20;
    padding: 10px;   
}

.liendis {
    text-decoration: none;
    color: black;
}

.DisPlus {
    background-color: #054553 ;
    display: flex;
    flex-direction: column;

}

.Olympe {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
}

.titleDisney {
    display: flex;
    justify-content: center;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    font-style: normal; 
    padding-top: 40px;
}
.disPlusBox{
    display: flex;
    gap: 1.5em;
    padding-left: 104px;
    padding-right: 104px;
    padding-top: 20px;
    padding-bottom: 40px;
}
.Olympe img{
    width: 100%;
}

.Description {
    color: white;
}

.lienDisPlusBox {
    text-decoration: none;
    color: white;
    font-size: large;
}

.BtnDis {
    display: flex;
    justify-content: center;
}

.SubDesc {
    color: white;
    display: flex;
    justify-content: center;
}

.firstParcs img{
    width: 100%;
    display: block;
}

.firstParcs {
    width: 49%;
    display: flex;
    flex-direction: column;
}

.lienteSec{
background-color: white;
width: 100%;
padding: 30px;
margin-bottom: 35px;
box-sizing: border-box;
}

.wrapperTwo {
display: flex;
gap: 20px;
flex-wrap: wrap;
padding-left: 104px;
padding-right: 104px;
padding-top: 20px;
padding-bottom: 40px;
}

.firstFamily {
    display: flex;
    flex-direction: column;
    width: 24%;
}

.firstBoat {
    display: flex;
    flex-direction: column;
    width: 24%;
}